/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";*/
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}

body{
    padding: 20px;
}

.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}

.text-success{
    color: green;
}

.logout:hover{
    cursor: pointer;
}

ul li{
    text-decoration: none;
    list-style: none;
    font-size: 25px;
}